<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
	<key>Description</key>
	<string>Coordinator with multiple MVVM families</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the family</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Family Prefix:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Coordinator</string>
			<key>Description</key>
			<string>The Coordiantor name</string>
			<key>Identifier</key>
			<string>CoordiantorName</string>
			<key>Name</key>
			<string>Coordintor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewModel</string>
			<key>Description</key>
			<string>The viewModel name</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>View Model Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>The Xib / Storyboard name</string>
			<key>Identifier</key>
			<string>XibName</string>
			<key>Name</key>
			<string>Xib / Storyboard Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>XibName</string>
			<key>Name</key>
			<string>Storyboard</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___UITests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>Coordinator with multiple MVVM families</string>
</dict>
</plist>
